/* /Components/MainLayout.razor.rz.scp.css */
.column-container[b-7yvlaqrl55] {
    height: 100vh;
    overflow: auto;
    display: grid;
    justify-items: center;
}

main[b-7yvlaqrl55] {
    max-width: 1920px;
    max-height: 1080px;
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 8px;
    padding: 8px;
}
/* /Components/Map.razor.rz.scp.css */
svg[b-d3thpju1y5] {
    align-self: center;
    font-size: 32px;
}
/* /Components/ScreenArea.razor.rz.scp.css */
.border[b-v2c6xlak14] {
    border: 2px solid #ccc;
    padding: 4px;
    display: grid;
}
/* /Components/Story.razor.rz.scp.css */
.reader[b-224sekauji] {
    overflow-y: auto;
}

.reader > :first-child[b-224sekauji] {
    margin-top: 0;
}

.reader > :last-child[b-224sekauji] {
    margin-bottom: 0;
}

p[b-224sekauji] {
    transition: opacity 0.3s ease-in;
    opacity: 0;
}

p.seen[b-224sekauji] {
    opacity: 1;
}

p.center[b-224sekauji] {
    text-align: center;
}

p.choice[b-224sekauji] {
    cursor: pointer;
    color: blue;
}
/* /Pages/Index.razor.rz.scp.css */
.columns[b-p8jy6tvibw] {
    min-width: 944px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 684fr 1212fr;
    grid-template-rows: 1fr;
    column-gap: 8px;
}
