@inherits LayoutComponentBase
@inject HttpClient HTTP
@code {
    private State.Game game;

    protected override async Task OnInitializedAsync()
    {
        var story = await HTTP.GetStringAsync("script.json?v=" + Guid.NewGuid().ToString());
        game = new(story);
    }
}

@if (game != null)
{
    <div class="column-container">
        <main>
            <CascadingValue Value="game" IsFixed>
                <RAF UpdateState="game.Update">
                    @Body
                </RAF>
            </CascadingValue>
        </main>
    </div>
}
else
{
    <span>Loading data...</span>
}