@inherits LayoutComponentBase
@inject HttpClient HTTP
@code {
    private State.Game game;

    protected override void OnInitialized()
    {
        using var stream = typeof(Program).Assembly.GetManifestResourceStream("Stains.script.ink.json");
        using var reader = new StreamReader(stream!);
        var script = reader.ReadToEnd();
        game = new(script);
    }
}

@if (game != null)
{
    <div class="column-container">
        <main>
            <CascadingValue Value="game" IsFixed>
                <RAF UpdateState="game.Update">
                    @Body
                </RAF>
            </CascadingValue>
        </main>
    </div>
}
else
{
    <span>Loading data...</span>
}