@inherits Connected<State.Blueprint>
@code {
    protected override State.Blueprint Project(State.Game game) => game.Blueprint;
}

<div class="backdrop">
    <svg viewBox="0 0 1200 900">
        @foreach (var room in State.GetVisibleRooms())
        {
            <RoomView Path="@room.Path" IsCurrent="@(State.CurrentLocation == room)" />
        }
    </svg>
</div>