.reader {
    overflow-y: auto;
    background-color: #e8e9c9;
}

.reader > :first-child {
    margin-top: 0;
}

.reader > :last-child {
    margin-bottom: 0;
}

p {
    transition: opacity 0.3s ease-in;
    opacity: 0;
}

p.seen {
    opacity: 1;
}

p.center {
    text-align: center;
}

p.choice {
    cursor: pointer;
    color: blue;
}