@inherits Connected<State.Narrative>
@code {
    protected override State.Narrative Project(State.Game game) => game.Narrative;

    private string Classes(State.Paragraph p)
    {
        var classes = new List<string>();
        if (p.Seen) classes.Add("seen");
        if (p.Center) classes.Add("center");
        return string.Join(" ", classes);
    }
}

<div class="reader">
    @foreach (var p in State.Log)
    {
        <p @key="p.Seq" class="@Classes(p)">@p.Text</p>
        @if (!p.Seen) { p.Seen = true; }
    }

    @foreach (var (idx, p) in State.Choices)
    {
        <p @key="p.Seq" class="choice @Classes(p)" @onclick="() => {State.Choose(idx);}">@p.Text</p>
        @if (!p.Seen) { p.Seen = true; }
    }
</div>